# for utf8 characterset 
[client] 
default-character-set = utf8 

[mysqld] 
init_connect = SET collation_connection = utf8_general_ci 
init_connect = SET NAMES utf8 
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-time-zone='+9:00'
#default-time-zone='Asia/Seoul'

[mysqldump] 
default-character-set = utf8 

[mysql] 
default-character-set = utf8
